*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: #3333;
    display: flex;
    align-items: center;
    justify-content: center;
}

#piano{
    width: 150vh;
    height: 30vh;
    background-color: whitesmoke;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

/* white keys styles */

#white-keys{
    /* display: flex; */
    gap: 10px;
    border: 2px solid white;
}

.wk{
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    border-right: 2px solid black;
    padding-left: 20px;
}


.wk:nth-child(21){
    border-right: white;
}


/* Black keys styles */


#first-pair{
    display: flex;
    gap:30px; 
    color: black;
    position: absolute;
    top: 0;
    /* left: 70px; */
    margin-left: 60px;
}

.bk{
    color: whitesmoke;
    height: 200px;
    width: 40px;
    background-color: black; 
    text-align: center;
}

.bk:nth-child(3){
    background-color: transparent;
}
.bk:nth-child(9){
    background-color: transparent;
}

.bk:active{
    scale: 0.99;
}

#second-pair{
    display: flex;
    gap:30px; 
    color: black;
    position: absolute;
    top: 0;
    left: 480px;
    margin-left: 60px;
}
#third-pair{
    display: flex;
    gap:30px; 
    color: black;
    position: absolute;
    top: 0;
    left: 965px;
    margin-left: 60px;
}